.project{
  /* position: relative; */
  height: auto;
  transform: translateY(-10%);
  color: #E9ECEF;
 
}
.project__container__image{
  width: 90%;
  margin: auto;
  height: 280px;
  /* position: relative; */
  box-shadow: 4px 13px 30px 1px rgba(52,58,64,.5);
  border-radius: 25px 0;
  transform: translateY(-15%);
  margin-bottom: -32px ;
}
.project__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px 0;
  cursor: pointer;
}
.no__active{
  pointer-events: none;
}
/* .project__front{
  width: 100%;
  height: 100%;
  opacity: .8;
  position: absolute;
  top: 0;
  border-radius: 25px 0;
} */

.project__body{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.project__skills{
  display: flex;
  gap: 8px;
  flex-grow: end;
  font-size: 1.2rem;
}
.project__title{
  font-size: 1.8rem;
  font-weight: 600;
}
.project__description{
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  height: 128px;
}
.project__links{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  text-align: center;
}
.project__links a{
  width: 100%;
  background-color: #E9ECEF;
  padding: 8px 16px;
  text-decoration: none;
  color: #212529;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all .3s ease-in-out;
}
.project__links a:hover{
  transition: all .3s ease-in-out;
  transform: scale(.95);
  opacity: .9;
}
@media (min-width: 1024px){
  .project__container__image{
    height: 320px;
  }
  .project__title{
    font-size: 2rem;
  }
  .project__links{
    flex-direction: row;
  }
  .project__description{
    font-size: 1rem;
  }
}

