.headerContainer{
  background-color: #E9ECEF;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 16px;
  padding: 8px 0 ;
}
.logo{
  width: 3rem;
}
.back{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.navbar{
  display: block;
}
.sidebar .navbar{
  display: none;
}
.btnMenu{
  display: none;
  z-index: 1;
  max-width: 40px;
}

@media (max-width: 1023px) {
  .sidebar{
    display: block;
  }
  .navbar{
    display: none;
  }
  .btnMenu{
    display: block;
  }
}

@media (min-width: 640px){
  .header{
    margin: 0 32px;
  }
}
@media (min-width: 768px){
  .header{
    margin: 0 64px;
  }
}

@media (min-width: 1024px){
  .headerContainer{
    padding: 1px 0;
  }
  .header{
    margin: 0 128px;
  }
}
@media (min-width: 1280px) {
  .headerContainer{
    padding: .5rem 0;
  }
  .header{
    margin: 0 192px;
  }
}
@media (min-width: 1536px) {
  .header{
    margin: 0 256px;
  }
}