.headerContainer{
  background-color: #E9ECEF;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 2px 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}
.logo{
  width: 3rem;
}
.back{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.navbar{
  display: block;
}
.sidebar .navbar{
  display: none;
}

.btnMenu{
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  margin: 8px;
}

@media (max-width: 1023px) {
  .sidebar{
    display: block;
  }
  .navbar{
    display: none;
  }
  .btnMenu{
    display: block;

  }
}
@media (min-width: 1024px){
  .headerContainer{
    padding: 1px 0;
  }
  .header{
    margin: 16px 48px;
  }
}
@media (min-width: 1280px) {
  .headerContainer{
    padding: 16px 0;
  }
  .header{
    margin: 0 96px;
  }
}
@media (min-width: 1536px) {
  .headerContainer{
    padding: 16px 0;
  }
  .header{
    margin: 0 192px;
  }
}