.skill{
  background-color: #343A40;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title{
  font-size: 2rem;
  color: #E9ECEF;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 48px;
}
.skillContainer{
  margin: 0 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 64px 0;
  
}
.iconContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon{
  font-size: 2rem;
  color: #fff;
  filter: grayscale(1) brightness(3);
  transition: all 0.3s ease-in-out;
}
.tooltip{
  position: absolute;
  top: 60%;
  margin-top: 12px;
  padding: .55rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  color: #000;
  border-radius: 50px;
  background-color: #F8F9FA;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.js{
  color: #f7df1e;
}
.php{
  color: #4f5b93;
}
.php{
  font-size: 2.5rem;
}
.react{
  color: #00d8ff;
}
.node{
  color: #6cc24a;
}
.express{
  color: #caccd1;
}
.postgresql{
  color: #008bb9;
}
.mongodb{
  color: #589636;
}
.mysql{
  color: #00758f;
}
.tailwind{
  color: #38bdf8;
}
.bootstrap{
  color: #8338ec;

}
.materialui{
  color: #146eb4;
}
.figma{
  color: #da1884;
}
@media (min-width: 1536px){
  .skillContainer{
    margin: 0 192px;
  }
}

.iconContainer:hover .icon{
  filter: grayscale(0) ;
  transform: scale(1.5);
}

.iconContainer:hover .tooltip{
  opacity: 0.9;
  top: 100%;
  z-index: 1;
}

@media (min-width: 640px){
  .skillContainer{
    margin: 0 32px;
  }
}
@media (min-width: 768px){
  .skillContainer{
    margin: 0 64px;
  }
}

@media (min-width: 1024px){
  .skillContainer{
    margin: 0 128px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px){
  .skillContainer{
    margin: 0 192px;
  }
}
@media (min-width: 1536px){
  .skillContainer{
    margin: 0 256px;
  }
}