* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #E9ECEF;
}

main{
  display: flex;
  flex-direction: column;
  gap: 48px;
}