* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #E9ECEF;
  overflow-x: hidden;
}

main{
  display: flex;
  flex-direction: column;
  gap: 50vh;
}

.headerFixed{
  background-color: red;
  position: sticky;
  width: 100vw;
  top: 0;
  left: 0;
}

